<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Waterpay: administrator</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<form action="/enternewlevy" method="post" name="test">
    <p>Привет, Админ!</p>
    <p th:text="'Последний сбор: ' + ${collected} + '/' + ${prop}"/>
    <!--<p>Последний сбор: <output name="result">?1100/1600?</output></p>-->
    <p><input type="submit" value="Новый сбор"></p>

    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Дата</th>
            <th>Собрано</th>
        </tr>
        </thead>

        <tbody>
        <tr th:if="${levies.isEmpty()}">
            <td colspan="3">сборов нет</td>
        </tr>
        <tr th:each="levy : ${levies}">
            <td><span th:text="${levy.id}">ID</span></td>
            <td><span th:text="${levy.date}">Дата</span></td>
            <td><span th:text="${levy.prop}">Собрано</span></td>
        </tr>
        </tbody>
    </table>

</form>
</body>
</html>