<!DOCTYPE HTML>
<html>
<head>
    <title>Waterpay: administrator</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<form action="/enternewlevy" method="post" name="test">
    <p>Привет, Руслан!</p>
    <p>Последний сбор: <output name="result">1100/1600</output></p>
    <p><input type="submit" value="Новый сбор"></p>
    <table border="1">
        <caption>Сборы</caption>
        <tr>
            <th>ID</th>
            <th>Дата</th>
            <th>Собрано</th>
        </tr>
        <tr><td>5</td><td>15.09.19</td><td>1500</td></tr>
        <tr><td>4</td><td>14.09.19</td><td>1400</td></tr>
        <tr><td>3</td><td>13.09.19</td><td>1300</td></tr>
        <tr><td>2</td><td>12.09.19</td><td>1200</td></tr>
        <tr><td>1</td><td>11.09.19</td><td>1100</td></tr>
    </table>
</form>
</body>
</html>