<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Waterpay: user page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="'Привет, ' + ${name} + '!'"></p>

<form action="/paid" method="post">
    <p th:text="'Последний сбор: ' + ${collected} + '/' + ${prop}"/>

    <p th:text="'Сумма оплаты: ' + ${summ}"/>

    <p><input type="submit" value="Оплата"></p>
    <input name="name" th:value="${name}" type="hidden">

    <table>
        <thead>
        <tr>
            <th>ИМЯ</th>
            <th>Метод оплаты</th>
        </tr>
        </thead>

        <tbody>
        <tr th:if="${payments?.isEmpty()}">
            <td colspan="2">оплативших нет</td>
        </tr>
        <tr th:each="payment : ${payments}">
            <td><span th:text="${payment.payer}">ИМЯ</span></td>
            <td><span th:text="${payment.method}">СПОСОБ ОПЛАТЫ</span></td>
        </tr>
        </tbody>
    </table>

</form>
</body>
</html>