<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Waterpay: user page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="'Hello, ' + ${name} + '!'"/>

<form action="/paid" method="post">
    <p>Последний сбор: <output name="result">1100/1600</output></p>
    <p>Сумма оплаты: <output name="result">300</output></p>
    <p><input type="submit" value="Оплата"></p>

    <table border="1">
        <caption>Оплатившие</caption>
        <tr>
            <th>ИМЯ</th>
            <th>МЕТОД ОПЛАТЫ</th>
        </tr>
        <tr>
            <td>Иван</td>
            <td>карта Сбер</td>
        </tr>
        <tr>
            <td>Алексей</td>
            <td>карта Тинькофф</td>
        </tr>
        <tr>
            <td>Рамиль</td>
            <td>наличка</td>
        </tr>
    </table>

</form>
</body>
</html>