<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Waterpay: fixing of paing</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<form action="/paid/fixing" method="post">
    <p th:text="${name} + '!'"/>
    <input name="name" th:value="${name}" type="hidden">
    <p><output name="result">300</output></p>
    <p><b>Метод оплаты</b><br>
        <input name="method" size="100" type="text">
    </p>
    <p><input type="submit" value="Оплата"></p>
</form>
</body>
</html>