<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Waterpay: fixing of paing</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<p th:text="${error}"></p>

<form action="/paid/fixing" method="post">
    <p th:text="${name} + '!'"/>
    <input name="name" th:value="${name}" type="hidden">
    <p th:text="'Сумма оплаты: ' + ${summ}"/>
    <p th:text="'Методы оплаты:' + ${methods}"></p>
    <p><b>Метод оплаты</b><br>
        <input name="method" size="100" type="text">
    </p>

    <!--<p><b>Метод оплаты</b></p>-->
    <!--<p><input name="method" type="radio" value="method1">метод1</p>-->
    <!--<p><input name="method" type="radio" value="method2">метод2</p>-->

    <p><input type="submit" value="Оплата"></p>
</form>

</form>
</body>
</html>