<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Waterpay: fixing of paing</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<p th:text="${error}"></p>

<form action="/paid/fixing" method="post">
    <p th:text="${name} + '!'"/>
    <input name="name" th:value="${name}" type="hidden">
    <p th:text="'Сумма оплаты: ' + ${summ}"/>

    <p><b>Метод оплаты</b></p>

    <tr th:each="requisite : ${requisites}">
        <td><p><input name="method" th:text="${requisite}" th:value="${requisite}" type="radio"/>
        </td>
    </tr>

    <p><input type="submit" value="Оплата"></p>
</form>

</form>
</body>
</html>